@model Collaborator
@{
    ViewData["Title"] = "Register";
}

<h1>Registrar Colaborador</h1>

@using (Html.BeginForm("Register", "Collaborator", FormMethod.Post))
{
    <div class="form-group">
        <label asp-for="Name">Nome</label>
        <input asp-for="Name" class="form-control" placeholder="Insira o nome do colaborador" />
        <span style="color: red;" asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control" placeholder="Insira o email do colaborador" />
        <span style="color: red;" asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password">Senha</label>
        <input asp-for="Password" class="form-control" placeholder="*********" />
        <span style="color: red;" asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PasswordConfirm">Confirme a senha</label>
        <input type="password" asp-for="PasswordConfirm" class="form-control" placeholder="*********" />
        <span style="color: red;" asp-validation-for="PasswordConfirm" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Registrar</button>
}